.btn{
    background-color:#74FAC0;
    color: black;
    padding:10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight:700;
    cursor: pointer;
}
.btn:hover{
    color: white;
    background-color: #010B28 ;
    transition-duration: 0.5s;
    font-weight:700;
    transform: translateY(-7px);   
    border: 1px solid white;
}