.presentation{
    text-align: left;
    width: 50%;
    max-width: 1800px;
    margin-left: 15%;
    margin-top: 10vh;
}
.presentation h1{
    font-size: 45px;
}
.presentation p{
    margin-bottom: 7vh;
}

@media (max-width:700px){
    .presentation{
        width: 80%;
        text-align: center;
        margin: auto;

    }
.div_presentation{
    height: 80px;
}
.presentation h1{
    font-size: 30px;
}
}
@media (max-width:900px){
    .presentation{
        width: 80%;
        text-align: center;
        margin: auto;

    }
.div_presentation{
    height: 70px;
}
.presentation h1{
    font-size: 30px;
}
}